<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Group #7 Project</title>
</head>
    <h1>Welcome to Comp 2006 Applied Machine Learning With Python Group 7 Webpage!</h1>
<body>
    <p>This will describe the two dataset that were used in the website<p> 
    <p>Here is the link for the dataset model #1 <br> <a href=\"http://127.0.0.1:5000/classification\">dataset #1</a></p>
    <p>This would the link for the dataset model #2</p>
</body>
</html>